

/* main */

body    {
        margin:0 ;
        padding:0;
        font-family: 'Oswald' sans-serif;
}

.bg-orange-light {
        background-color: #e49763; 
    }

.bg-orange-bright      {
                        background-color: #f3b341;
}


   /*-- headings and content --*/ 
h3 {
        color:#4d4244;
        
}

h4   {
        color:#4d4244;
        
}

p       {
        color: #6f503d;
        font-weight: 600;
        text-align: left;
}
.text-brown     {
                color:#6f503d;
}

.text-slate     {
                color:#4d4244;
}

.heavy-font     {
                font-weight:600;
}


/*-- images in content --*/
.border {
        background: #eb7719;
        padding: 25px;
        border: 1px solid #eb7719;
        border-radius: 50px;
      }

ul      {
        list-style-type: none;
        font-weight: 600;
        text-align: left;
}

.float-right    {
                float:right;
}
/*-- contact button --*/

.bg-orange-bold  {
                  background-color: #eb7719;      
}

                
/* logo */

/*-- nav bar --*/

.navbar-nav .nav-link.active {
        text-decoration: underline;
      }
 
      .dropdown-menu {
        top: 100%;
        left: 0;
        right: auto;
        width: 100%;
        margin: 0;
        text-align: center;
      }
      
      

/*--hero image --*/

/*-- Faq accordion --*/
.accordion-button:not(.collapsed) {
        color: #4d4244;
        background-color: #e49763;
        box-shadow: none;
    }


  /*-- sign up modal --*/
  
  .modal-body form {
        display: flex;
        flex-direction: column;
      }
      
      .modal-body input {
        margin-bottom: 10px;
      }
      



